body {
    background-color: rgb(200,200,200);
    padding: 10px;
    margin: auto;
}

.container {
    display: contents;
    direction: initial;
    padding: 10px;
}

.containerI {
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}

button {
    max-height: 28px;
    margin: auto;
}

input {
    max-height: 28px;
    margin: auto;
}

.items {
    max-width: 300px;
    padding: 5px;
    margin: auto;
}

