@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype'),
    url('fontes/Quicksand-VariableFont_wght.ttf') format('truetype');
}

h1 {
        font-family:'Quicksand-VariableFont_wght';
        color: #ffffff;
        text-align: center;
    }

 p {
    font-family: 'Times New Roman', Times, serif;
     font: normal;
     color: black;
     text-align: justify;
 }

 h2 {
    font-family: 'android';
    color: #3a853c;
 }

 h3 {
    font-family: 'android';
    color: #ffffff;
    font-size: 12px;
    background-color: #3a853c;
 }

 header{
    background-image: linear-gradient(to bottom, rgb(170, 243, 170), rgb(43, 105, 48));
 }

body {
    background-color: #a1f7a3;
}

div#pai{
    background-color: white;
    padding: 10px;
    width: 600px;
    justify-content: center;
    display: inline-block;
}

div#especial {
    display: inline-block;
    background-image: linear-gradient(to bottom, rgb(43, 105, 48) ,rgb(170, 243, 170) ,rgb(170, 243, 170) , rgb(170, 243, 170));
    border-radius: 30px;
    padding: 10px;
}

.itens {
    list-style-type: none;
}

h4 {
    color: white;
}

div#list{
    display: flex;
}

img {
    width: 100%;
}