@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: normal;
        color: rgb(144, 144, 175);
        border-radius: 5px;
        border: solid;
        border-color: rgba(0, 0, 0, 0.74);
        background-image: linear-gradient(45deg, #C5C3E6, #CCD4F0,#C5CFDA, #CCE7F0, #C3E6E5);
        text-shadow: 2px 2px 2px black;
        margin: 5px;
        box-shadow: 5px 5px 5px 1px black;
        outline: #C3E6E5 2px solid;
    }

 p {
    font-family: 'Times New Roman', Times, serif;
     font: normal;
     color: black;
     text-align: justify;
 }

 h2 {
    font-family: 'idroid';
    color: #3a853c;
 }

 h3 {
    font-family: 'idroid';
    color: #ffffff;
    font-size: 12px;
    background-color: #3a853c;
 }

 header{
    background-color: #C3E6E5;
 }

body {
    background-color: #a1f7a3;
}

div#pai{
    background-color: white;
}
