@charset "UTF-8";
div#tv-radio
{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
    border: unset;
    box-shadow: unset;
}
audio#musica
{
display: block;
position: relative;
left: 562px;
top: 480px;
width: 300px;
}
video#filme
{
    display: block;
    position: relative;
    left: 70px;
    top: 50px;
    width: 450px; 
}