@charset "UTF-8";

.Card {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    width: 200px;
    height: 300px;
}

.Card .title{
    padding: 5px;
    background-color: rgb(139, 39, 39);
    color: rgb(224, 224, 224);
    outline: #000000 2px solid;
    display: flex;
    justify-content: center;
}

.Card .content {
    color: rgb(73, 70, 70);
    background-color: aliceblue;
    justify-content: center;
    padding: 5px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    font-weight: bold;
}


.title {
    font-weight: bold;
}
